<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.st.rbac.mapper.MenuMapper">
  	<select id="selectRole" parameterType="com.st.rbac.pojo.Staff" resultType="com.st.rbac.pojo.Menu">
  		select menu.* from menurole, menu where menurole.roleid =#{roleid} and menurole.mid = menu.mid
  	</select>
  </mapper>